input {
    /* display: inline-block; */
    padding: 20px;
    margin: 5px 0px;
    
    
}
.forminput {
    margin: 10px;
}
label {
    display: inline-block;
    width: 200px;
    padding: 20px;
   
}