.add {
 /* display: block;
 align-items: center;
 justify-content: center;
 height: 100vh;
 margin-left: 50%;
 margin-top: 20%; */
 width: 100%;
 padding: 12px 20px;
 margin: 8px 0;
 display: block;
 border: 1px solid #ccc;
 border-radius: 4px;
 box-sizing:border-box;
 
}
