input {
  padding: 10px;
  width: 160px;
  margin: 5px 0px;
}
.viewoption {
  margin: 20px;
  padding: 2px;
  text-align: center;
  display: block;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
label {
  /* display: inline-block; */
  width: 300px;
  padding: 10px;
}
.viewoption > button {
  width: 50px;
  margin-left: 10px;
}
